@model MVCTestProject.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Delete</h1>

<h4>确定要删除该条数据么？</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete">
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input asp-for="age" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="cj" class="control-label"></label>
                <input asp-for="cj" class="form-control" readonly />
            </div>
            
            <div class="form-group">
                <input type="submit" value="Delete" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

